{{ define "main" }}
<section class="hero">
  <div class="container col-xxl-8">
    <div class="row align-items-center justify-content-center py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/img/bootstrap-themes.png" alt="Bootstrap Themes" class="img-fluid d-block mx-auto">
      </div>
      <div class="col-lg-6 order-lg-first">
        <h1>{{ .Params.heading }}</h1>
        <p>{{ .Content }}</p>
        <div class="d-grid gap-2 d-md-flex">
          {{ with .Params.btn1 }}
          {{ if and .text .url }}
          <button type="button" href="{{ .url }}" class="btn btn-lg btn-primary px-4 me-md-2">{{ .text }}</button>
          {{ end }}
          {{ end }}
          {{ with .Params.btn2 }}
          {{ if and .text .url }}
          <button type="button" href="{{ .url }}" class="btn btn-lg btn-outline-secondary px-4">{{ .text }}</button>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 class="fs-1 pb-3">{{ .Params.cardsTitle }}</h2>
      </div>
    </div>
    <div class="row pb-3">
      {{ range .Params.cards }}
      <div class="col-md-4">
        <div class="card mb-3">
          <img src="{{ .img }}" class="card-img-top img-fluid" alt="{{ .title }}">
          <div class="card-body">
            <h5 class="card-title">{{ .title }}</h5>
            <p class="card-text">{{ .text }}</p>
            {{ with .btn }}
            {{ if and .url .text }}
            <a href="{{ .url1 }}" class="btn btn-primary">{{ .text }}</a>
            {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<section>
  <div class="container-fluid">
    <div class="row d-flex justify-content-center mb-3">
      <div class="col-md-6">
        <h2>Native Lazy Loading</h2>
        <img src="/img/placeholder1.jpg" alt="Native Lazy Loading" loading="lazy" class="img-fluid">
      </div>
    </div>
    <div class="row d-flex justify-content-center mb-3">
      <div class="col-md-6">
        <h2>Non-responsve Lazy Loading with Lazysizes</h2>
        <img data-src="/img/placeholder5.jpg" alt="Native Lazy Loading" class="lazyload img-fluid">
      </div>
    </div>
    <div class="row d-flex justify-content-center mb-3">
      <div class="col-md-6">
        <h2>Fixed width with Lazysizes</h2>
        <img data-src="/img/placeholder5.jpg" alt="Fixed width with Lazysizes" class="lazyload img-fluid">
      </div>
    </div>
    <div class="row d-flex justify-content-center mb-3">
      <div class="col-md-6">
        <h2>Fixed width responsive lazysizes</h2>
        <img data-srcset="/img/placeholder1_1x.jpg 1x, /img/placeholder1_2x.jpg 2x"
          alt="Fixed width responsive lazysizes" class="lazyload img-fluid">
      </div>
    </div>
    <div class="row d-flex justify-content-center mb-3">
      <div class="col-md-6">
        <h2>Variable width responsive with lazysizes</h2>
        <img data-sizes="auto"
          data-srcset="/img/placeholder1_500w.jpg 500w, /img/placeholder1_800w.jpg 800w, /img/placeholder1_1200w.jpg 1200w "
          alt="Variable width responsive with lazysizes" class="lazyload img-fluid">
      </div>
    </div>
    <div class="row d-flex justify-content-center mb-3">
      <div class="col-md-6">
        <h2>Noscript pattern lazysizes</h2>
        <img data-src="/img/placeholder6.jpg" alt="Noscript pattern lazysizes" class="lazyload img-fluid">
        <noscript>
          <img src="/img/placeholder6.jpg" alt="Noscript pattern lazysizes" class="img-fluid">
        </noscript>
      </div>
    </div>
    <div class="row d-flex justify-content-center mb-3">
      <div class="col-md-6">
        <h2>LQIP with lazysizes</h2>
        {{- $src := .Resources.GetMatch "placeholder7.jpg" -}}
        {{- $lqip := $src.Resize "50x gif" -}}
        {{- $lqip = $lqip.Filter (images.GaussianBlur 4) -}}
        {{- $lqip = printf "data:image/gif;base64,%s" ($lqip.Content | base64Encode) -}}
        <img src="{{ $lqip | safeURL }}"
          data-src="{{ $src.RelPermalink }}" 
          width="{{ $src.Width }}"
          height="{{ $src.Height }}"
          alt="LQIP with lazysizes" 
          class="lazyload img-fluid lqip">
        <noscript>
          <img src="{{ $src.RelPermalink }}" alt="Noscript pattern lazysizes" class="img-fluid">
        </noscript>
      </div>
    </div>
    <div class="row d-flex justify-content-center mb-3">
      <div class="col-md-6">
        <h2>LQIP with blur-up</h2>
        <img src="{{ $lqip | safeURL }}"
          data-src="{{ $src.RelPermalink }}" 
          width="{{ $src.Width }}"
          height="{{ $src.Height }}"
          alt="LQIP with blur-up" 
          class="lazyload img-fluid lqip blur-up">
        <noscript>
          <img src="/img/placeholder6.jpg" alt="Noscript pattern lazysizes" class="img-fluid">
        </noscript>
      </div>
    </div>
  </div>
</section>
{{ end }}
